@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

body {
  background-repeat: no-repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.sidebarWidth {
  width: 300px !important;
}
.calcsidebarWidth {
  width: calc(100% - 300px) !important;
}
