.todoListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 16px;
  margin: 1rem auto;
  overflow: hidden;
  padding: 0;
  height: 100px;
  opacity: 1;
  transition: opacity 0.25s ease-out;
}
.todoListItem[iscompleted="true"] {
  opacity: 0.5;
}
.leftPartition {
  display: flex;
  margin: 0.5rem 0rem;
  align-items: center;
}
.completedIconSpan {
  margin: 0.5rem;

  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
}
.completedIconSpan[iscompleted="false"] > .completedIcon {
  opacity: 0;
}

.completedIconSpan:hover > .completedIcon {
  opacity: 0.5;
  transform: scale(1.25);
  transition: all 0.15s ease-out;
}
.todoInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.todoInfo p:first-of-type {
  font-weight: bold;
  font-size: 1.25rem;
}
.todoInfo p:last-of-type {
  font-size: 0.8rem;
}
.rightPartition {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  padding-left: 0.5rem;
  height: 100% !important;
}
.dateText {
  font-size: 1rem;
  text-align: center;
  align-self: center;
  padding: 0.5rem;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100% !important;
  width: auto;
  padding: 0;
}
.icon {
  height: 50% !important;
  padding: 0.5rem;
  cursor: pointer;
  text-align: center;
  border: 2px solid transparent;
  width: auto;
  text-align: center;
}
.icon:first-of-type {
  border-bottom-left-radius: 12px;
}
.icon:last-of-type {
  border-top-left-radius: 12px;
}
.icon:hover {
}
.icon:active {
}
